<script id="result_template" type="text/x-jquery-tmpl">
	
<div class="event" style="padding:15px;border:solid 1px #999;border-radius:10px;margin-bottom:15px;">
	<h2><a href="${url}" style="font-weight:bold;">${name}</a></h2>
	<em>${start_date} to ${end_date}</em>
	<br />
	${short_description}
</div>

</script>